In [3]:
import pandas as pd

In [5]:
df = pd.read_csv('merged_routes.csv')

In [6]:
need_processing_from = df[df['from_region_id'].isna()]['from_region_name'].unique()
need_processing_to = df[df['to_region_id'].isna()]['to_region_name'].unique()

need_processing = pd.unique(list(need_processing_from) + list(need_processing_to))

C:\Users\frank\AppData\Local\Temp\ipykernel_113000\3539233552.py:4: FutureWarning: unique with argument that is not not a Series, Index, ExtensionArray, or np.ndarray is deprecated and will raise in a future version.
  need_processing = pd.unique(list(need_processing_from) + list(need_processing_to))

In [7]:
print(need_processing)

['gansu' 'hainan' 'inner mongolia' 'ningxia' 'qinghai' 'xinjiang' 'yunnan']

In [8]:
new_ids = {p: id for id, p in enumerate(need_processing, start=3000)}

In [9]:
df['from_region_id'] = df.apply(
    lambda row: new_ids.get(row['from_region_name'], row['from_region_id']),
    axis=1
)
df['to_region_id'] = df.apply(
    lambda row: new_ids.get(row['to_region_name'], row['to_region_id']),
    axis=1
)

In [ ]:
# df['from_region_id'] = df['from_region_id'].astype(int)
# df['to_region_id'] = df['to_region_id'].astype(int)

In [13]:
df.to_csv('merged_routes.csv', index=False)

In [18]:
df = df.drop(df.columns[-4:], axis=1)
print(df.head(5).to_markdown())

|    | from_city   |   from_region_id | from_region_name   | to_city   |   to_region_id | to_region_name   | type   | from_station   | to_station   |   duration |   distance |   cost |   route_id | route_name              | enabled   |
|---:|:------------|-----------------:|:-------------------|:----------|---------------:|:-----------------|:-------|:---------------|:-------------|-----------:|-----------:|-------:|-----------:|:------------------------|:----------|
|  0 | chizhou     |             1000 | anhui              | shenzhen  |           1004 | guangdong        | flight | JUH            | SZX          |        120 |        nan |    nan |       3736 | air china ltd           | True      |
|  1 | chizhou     |             1000 | anhui              | beijing   |           1001 | beijing          | flight | JUH            | PKX          |        115 |        nan |    nan |       8245 | china eastern airlines  | True      |
|  2 | chizhou     |             1000 | anhui              | guangzhou |           1004 | guangdong        | flight | JUH            | CAN          |        125 |        nan |    nan |       3868 | china southern airlines | True      |
|  3 | chizhou     |             1000 | anhui              | zhoushan  |           1021 | zhejiang         | flight | JUH            | HSN          |         95 |        nan |    nan |       5099 | tibet airlines          | True      |
|  4 | chizhou     |             1000 | anhui              | chengdu   |           1019 | sichuan          | flight | JUH            | TFU          |        165 |        nan |    nan |       5100 | tibet airlines          | True      |

In [19]:
unique_cities = pd.concat([df['from_city'], df['to_city']]).drop_duplicates().to_list()
print(len(unique_cities))

1040

In [ ]:
print(unique_cities)